body{
    background-color: honeydew;
    color: black;

}
 .nav-item{ 
    background-color: white;
    color: black;
    display: flex;
    padding: 15px;
    justify-content: space-between;

}